.section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: #444;
}
.title {
  margin-bottom: 20px;
}
.link {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
}
.link p {
  margin-left: 3px;
}
@media only screen and (max-width: 600px) {
  .section {
    width: 100%;
    padding: 10px;
  }
}
